

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#googft-mapCanvas {
  height: 75vh;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
}

